<div class="container-fluid h-100 full-page">
    <div class="row h-100 justify-content-center align-items-center">

        <div class="col-3 animated fadeInRight">
            <!-- <h1 class="display-6">Your one-stop recruitment solution</h1> -->
            <button type="button" class="btn btn-outline-primary"><h1 class="display-6">Your one-stop recruitment solution</h1></button>
            <br/>
            <br/>
            <app-login></app-login>
        </div>

        <div class="col-9 p-0 animated fadeInLeft">
            <img class="images" class="img-fluid full-page" src="../../../assets/recruiter-front.jpg" />
        </div>
    </div>
</div>


