<div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="form-group">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
            </div>

            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">P</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password">
            </div>

        </div>

    </div>
    <div class="card-footer text-muted">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-primary btn-sm btn-block">Sign In</button>
        </div>
        <div class="col-12 text-center">
            <span>or</span>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-outline-success btn-sm btn-block">Sign Up</button>
        </div>

    </div>
</div>